body {
    background-color: #393e46;
    font-family: "Menlo", "Monaco", "Consolas", "Courier New", monospace;
    font-size: 20px;
    color: #000000;
    margin: 0;
    padding: 0;
}

#titre{
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#cam{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius:10%;
    width:40%;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
    background-color: #8e9291;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 10px;
    padding-left: 10px;
  }

  .sidenav .closebtn:hover {
    color: #f1f1f1;
    background-color: #f90303;
  }

#OpenNav{
  font-size:30px;
  color:#f1f1f1;
  cursor:pointer;
  margin-left: 20px;
  margin-top: 20px;
}