<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <title>Login</title>
    <script>
        var usernameValid = false;
        


        function checkUsername(event) {
            if (event.keyCode === 13) { // Vérifie si la touche Entrée est enfoncée
                event.preventDefault(); // Empêche le rechargement de la page par défaut


                var usernameInput = document.getElementById("username");
                var passwordInput = document.getElementById("password");
                var username = usernameInput.value;


                // Vérifie si l'identifiant est valide
                // Vous pouvez utiliser votre propre logique de validation ici
                var validUsernames = ["optimus"];


                usernameValid = validUsernames.includes(username);


                if (usernameValid) {
                    document.getElementById("password_field").style.display = "block";
                    usernameInput.readOnly = true; // Désactive la saisie de l'identifiant
                    passwordInput.required = true;
                    passwordInput.focus(); // Déplace le focus sur le champ de mot de passe
                } else {
                    document.getElementById("password_field").style.display = "none";
                    passwordInput.required = false;
                    // Affiche un message d'erreur sans réinitialiser l'identifiant
                    document.getElementById("error_message").innerText = "Identifiant incorrect.";
                }
            }
        }


        function showPasswordInput() {
            if (usernameValid) {
                document.getElementById("password_field").style.display = "block";
                document.getElementById("password").required = true;
            }
        }

        function simulateEnterKey() {
            var event = new KeyboardEvent("keydown", {
                keyCode: 13,
                bubbles: true,
                cancelable: true
            });
            document.getElementById("username").dispatchEvent(event);
        }

        // Désactive la saisie de l'identifiant si le champ est déjà valide
        window.onload = function() {
            var usernameInput = document.getElementById("username");
            if (usernameValid) {
                usernameInput.readOnly = true;
            }
        };
    </script>
</head>
<body class="center-content">
    <h1>Bienvenue sur notre site!</h1>
    <p class="connexion-text">Connexion</p>
    {% if error %}
    <p class="error-message">{{ error }}</p>
    {% endif %}
    <form method="post" action="/">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required onkeydown="checkUsername(event)">
        <br>
        <div id="password_field" style="display: none;">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
            <br>
        </div>
        <input type="button" value="Submit" class="custom-button" onclick="simulateEnterKey();"  >
        <input type="submit" value="Login" style="display: none;">
    </form>
</body>
</html>
